@page "/Post"

@using global::Helpers.ViewModels

<div class="post">
    <div class="post-header">
        <img src="@ProfileImageUrl" alt="Profile Image" class="profile-image" />
        <div class="post-info">
            <div class="post-author">@Author</div>
            <div class="post-meta">@PostLine.DateTimePost · @PostLine.VisibilityType</div>
        </div>
        <div class="post-menu">
            <button class="menu-button">⋮</button>
        </div>
    </div>
    <div class="post-content">
        @PostLine.Text
    </div>
</div>
<div>
    <hr/>
    <p>@PostLine.Creator.email</p>
    <p>@PostLine.Text</p>
    <p></p>
</div>

@code{

    [Parameter] public FeedPost PostLine { get; set; } = new FeedPost();

}