@page "/Post"

@using global::Helpers.ViewModels

<div class="post">
    <div class="post-header">
        <img src="@ProfileImageUrl" alt="Profile Image" class="profile-image" />
        <div class="post-info">
            <div class="post-author">@postline.Creator</div>
            <div class="post-meta">@postline.DateTimePost · @postline.VisibilityType</div>
        </div>
        <div class="post-menu">
            <button class="menu-button">⋮</button>
        </div>
    </div>
    <div class="post-content">
        @postline.Text
    </div>
</div>
<div>
    <hr/>
    <p>@postline.Creator.email</p>
    <p>@postline.Text</p>
    <p></p>
</div>

@code
{
    [Parameter] 
    public FeedPost postline { get; set; }
}
